<div id="foodListDiv" ng-controller="foodListController as flCtl">  
  <h1 class="page-header">Food List</h1>
  {% if user.is_authenticated %}
      <div class="panel panel-default">
          <div class="panel-body">
              <form id="addFoodForm" class="form-inline">
                  {% csrf_token %}
                <div class="form-group">
                  <label for="addFoodName">Name:</label>
                  <input type="text" class="form-control" id="addFoodName" name ="addFoodName" placeholder="Enter Food Name" required>
                </div>
                <div class="form-group">
                  <label for="addFoodCal">Calories:</label>
                  <input type="number" class="form-control" id="addFoodCal" name="addFoodCal" placeholder="Enter Number of the Calories in the Food" required>
                </div>
                <div class="form-group">
                  <label for="addFoodType">Food Type:</label>
                  <select class="form-control" name="addFoodType" id="addFoodType" required>
                    <option value="l">Lunch</option>
                    <option value="d">Dinner</option>
                    <option value="b">Breakfast</option>
                    <option value="s">Snacks</option>
                  </select>
                </div>
                <button id = "addFoodSmt" type="button" class="btn btn-default btn-sm" onclick="addFood()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
              </form>
          </div>
      </div>
  {% endif %}

  {% if foodCount %}
      <table class="table table-striped" id="foodTable">
          <thead>
              <tr>
                  <th>Food Name</th>
                  <th>Calories</th>
                  <th>Food Type</th>
              </tr>
          </thead>
      <tbody ng-repeat="f in flCtl.foods track by $index">
              <tr>
                  <td>{[{f.fields.fName}]}</td>
                  <td>{[{f.fields.fCalorie}]}</td>
                  <td>{[{f.fields.fType}]}</td>
              </tr>
      </tbody>
      </table>
  {% else %}
      <div class="alert alert-danger" role="alert">No Food in Database, Please login and build your own food list</div>
  {% endif %}
</div>


