<h1 class="page-header">Food List</h1>


{% if foodList %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Calories</th>
                <th>Food Type</th>
            </tr>
        </thead>
    <tbody>
        {% for f in foodList %}
            <tr>
                <th>{{f.fName}}</th>
                <th>{{f.fCalorie}}</th>
                <th>{{f.get_fType_display}}</th>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}


