{% load staticfiles %}

<!DOCTYPE html>

<html ng-app="cts" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />


    <title>Calorie Tracking System</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Custom styles for base template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

    <!-- other styles-->
    {% block styleBlock %}
    {% endblock %}

  </head>

  <body ng-controller = "NavController as navCtl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Calorie Tracking System (CTS)</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li id="loginItem" class="dropdown" ng-class="{ active: navCtl.isSet(0) }">
                      <a ng-clink="navCtl.setItem(0)" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi, {{ user.first_name }} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li id = "profileItem" ng-click="navCtl.showProfile()" ><a href="#">My Profile</a></li>
                        <li class="divider"></li>
                        <li id="logoutBtn" ng-click="navCtl.logout()"><a href="#">Logout</a></li>
                      </ul>
                    </li>
                {% else %}
                   <li id="loginItem" class="dropdown" ng-class="{ active: navCtl.isSet(0) }">
                    <a ng-clink="navCtl.setItem(0)" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                   </li>
                {% endif %}
            <li ng-class="{ active: navCtl.isSet(2) }">
              <a ng-click="navCtl.showBMICal()" href="/">BMI</a>
            </li>
            <li ng-class="{ active: navCtl.isSet(3) }">
              <a ng-click="navCtl.showAbout()" href="/">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block sideBarBlock %}
          <ul class="nav nav-sidebar">
            <li class="barItem" ng-class="{ active: navCtl.isSet(1) }" id="foodlistItem" >
              <a ng-click="navCtl.showFoodList()" href="#">Food List</a>
            </li>
            <li class="barItem" ng-class="{ active: navCtl.isSet(2) }" id="bmiItem">
              <a ng-click="navCtl.showBMICal()" href="#">BMI Calculator</a>
            </li>
            <li class="barItem" ng-class="{ active: navCtl.isSet(3) }" id="aboutItem">
              <a ng-click="navCtl.showAbout()" href="#">About</a>
            </li>
          </ul>

            {% endblock %}
        </div>
        <div ng-include="navCtl.contentURL" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id = "content">

        {% block mainBlock %}



            {% endblock %}

        </div>
      </div>
    </div>

    <!-- Modals -->
    <!-- Login Modal -->
    <div ng-controller="loginController as loginCtl">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <form class="form-horizontal" id="loginForm" name="loginForm" ng-submit="loginForm.$valid && loginCtl.login()" novalidate>
              {% csrf_token %}
          <div class="modal-body">
            
              <div class="form-group">
                <label for="loginEmail" class="col-sm-3 control-label">Email address</label>
                <div class="col-sm-9">
                  <input ng-model="loginCtl.loginInfo.loginEmailName" type="email" class="form-control" id="loginEmail" name="loginEmailName" placeholder="Enter email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="loginPwd" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                  <input ng-model="loginCtl.loginInfo.loginPwdName" type="password" class="form-control" id="loginPwd" name="loginPwdName" placeholder="Password" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#regModal">Register</button>
            <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Register</h4>
          </div>
          <form class="form-horizontal" id="regForm" name="regForm" ng-submit="regForm.$valid && loginCtl.reg()" novalidate>
              {% csrf_token %}

          <div class="modal-body">
            <div class="form-group">
                <label for="regEmail" class="col-sm-3 control-label">Email address</label>
                <div class="col-sm-9">
                  <input ng-model="loginCtl.regInfo.regEmailName" type="email" class="form-control" id="regEmail" name="regEmailName" placeholder="Enter email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="regPwd" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                  <input ng-model="loginCtl.regInfo.regPwdName" type="password" class="form-control" id="regPwd" name="regPwdName" placeholder="Enter Password" required>
                </div>
              </div>

                  <div class="form-group">
                    <label for="regHgt" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                      <input ng-model="loginCtl.regInfo.regFirstName" type="text" class="form-control" id="regFirst" name="regFirstName" placeholder="Enter First Name" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="regHgt" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                      <input ng-model="loginCtl.regInfo.regLastName" type="text" class="form-control" id="regLast" name="regLastName" placeholder="Enter Last Name" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="regHgt" class="col-sm-3 control-label">Height(cm)</label>
                    <div class="col-sm-9">
                      <input ng-model="loginCtl.regInfo.regHgtName" type="number" class="form-control" id="regHgt" name="regHgtName" placeholder="Enter Height" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="regWgt" class="col-sm-3 control-label">Weight(kg)</label>
                    <div class="col-sm-9">
                      <input ng-model="loginCtl.regInfo.regWgtName" type="number" class="form-control" id="regWgt" name="regWgtName" placeholder="Enter Weight" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="regGenM" class="col-sm-3 control-label">Gender</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                          <input ng-model="loginCtl.regInfo.genName" type="radio" name="genName" id="regGenM" value="Male"> Male
                        </label>
                        <label class="radio-inline">
                          <input ng-model="loginCtl.regInfo.genName" type="radio" name="genName" id="regGenF" value="Female"> Female
                        </label>
                    </div>
                  </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid">Register</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-cookies.js' %}"></script>
    <script src="{% static 'js/ctsapp/ctsapp.js' %}"></script>
    <script src="{% static 'js/ctsapp/foodCtrl.js' %}"></script>

    
</body></html>
