
<div id="foodListDiv" ng-controller="userProfileController">
    <h1 class="page-header"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Calorie Record</h1>
    {% if user.is_authenticated %}
        <div class="panel panel-success">
            <div class="panel-heading">Yo,</div>
            <div class="panel-body">
                Add your new record here.
            </div>
        </div>
    {% else %}
        <div class="panel panel-danger">
            <div class="panel-heading">Error:</div>
            <div class="panel-body">
                Please Login First.
            </div>
        </div>
    {% endif %}

</div>
