
<div id="bmiCal" ng-controller="bmiController">
        <h1 class="page-header">BMI Calculator</h1>

    <div class="bs-example bs-example-tabs col-md-4 col-lg-4" role="tabpanel" data-example-id="togglable-tabs">
    <!-- bmi result -->
    <div ng-show="resultReady;"><h4><span class="label label-info" id="bmiResult">{[{result}]}</span></h4></div>

    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li ng-click="isStd = true;resultReady=false" role="presentation" class=""><a href="#bmiStandard" id="bmiStandard-tab" role="tab" data-toggle="tab" aria-controls="bmiStandard" aria-expanded="false">Standard</a></li>
      <li ng-click="isStd = false;resultReady=false" role="presentation" class="active"><a href="#bmiMetric" role="tab" id="bmiMetric-tab" data-toggle="tab" aria-controls="bmiMetric" aria-expanded="true">Metric</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade" id="bmiStandard" aria-labelledby="bmiStandard-tab">
          </br>
        <div class="input-group" ng-form name="bmiStdHeightForm">
          <span class="input-group-addon">Height:</span>
          <input min = "20" max = "100" name="bmiStdHeight" ng-model="stdHgt" id="bmiStdHeight" type="number" class="form-control" aria-label="Height in inches" ng-maxlength="5" required>
          <span class="input-group-addon">inches</span>
        </div>
          </br>
        <div class="input-group" ng-form name="bmiStdWeightForm">
          <span class="input-group-addon">Weight:</span>
          <input min = "23" max = "1560" name ="bmiStdWeight"  ng-model="stdWgt" id="bmiStdWeight" type="number" class="form-control" aria-label="Weight in pounds" ng-maxlength="5" required>
          <span class="input-group-addon">pounds</span>
        </div>
          </br>
          <button ng-click="resultReady=true;calc()" id="compBMIStd" type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="bmiStdWeightForm.$invalid || bmiStdHeightForm.$invalid">Compute My BMI</button>

        <div>
            <br>
            <div class="alert alert-danger" role="alert" ng-show="bmiStdWeightForm.bmiStdWeight.$error.number" >Error: Weight field should only be digits.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiStdWeightForm.bmiStdWeight.$error.maxlength" >Error: Weight field should be 4 digits at most.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiStdWeightForm.bmiStdWeight.$error.min" >Error: weight field cannot be negative, zero or below minimum.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiStdWeightForm.bmiMtrWeight.$error.max" >Error: Weight field exceeds maximum weight.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiStdHeightForm.bmiStdHeight.$error.number" >Error: Height field should only be digits.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiStdHeightForm.bmiStdHeight.$error.maxlength" >Error: Height field should be 4 digits at most.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiStdHeightForm.bmiStdHeight.$error.min" >Error: Height field cannot be negative, zero or below minimum.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiStrHeightForm.bmiMtrHeight.$error.max" >Error: Height field exceeds maximum height.</div>

        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade active in" id="bmiMetric" aria-labelledby="bmiMetric-tab">
        </br>
        <div class="input-group" ng-form name="bmiMtrHeightForm">
          <span class="input-group-addon">Height:</span>
          <input min = "50" max = "250" name="bmiMtrHeight" ng-model="mtrHgt" id="bmiMtrHeight" type="number" class="form-control" aria-label="Height in centimeters" ng-maxlength="5" required>
          <span class="input-group-addon">centimeters</span>
        </div>
          </br>
        <div class="input-group" ng-form name="bmiMtrWeightForm">
          <span class="input-group-addon">Weight:</span>
          <input min = "10" max = "700" name="bmiMtrWeight" ng-model="mtrWgt" id="bmiMtrWeight" type="number" class="form-control" aria-label="Weight in kilograms" ng-maxlength="5" required>
          <span class="input-group-addon">kilograms</span>
        </div>
           </br>
        <button ng-click="resultReady=true;calc()" id="compBMIMtr" type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="bmiMtrWeightForm.$invalid || bmiMtrHeightForm.$invalid">Compute My BMI</button>
        <div>
            <br>
            <div class="alert alert-danger" role="alert" ng-show="bmiMtrWeightForm.bmiMtrWeight.$error.number" >Error: Weight field should only be digits.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiMtrWeightForm.bmiMtrWeight.$error.maxlength" >Error: Weight field should be 4 digits at most.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiMtrWeightForm.bmiMtrWeight.$error.min" >Error: weight field cannot be negative, zero or below minimum.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiMtrWeightForm.bmiMtrWeight.$error.max" >Error: Weight field exceeds maximum weight.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiMtrHeightForm.bmiMtrHeight.$error.number" >Error: Height field should only be digits.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiMtrHeightForm.bmiMtrHeight.$error.maxlength" >Error: Height field should be 4 digits at most.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiMtrHeightForm.bmiMtrHeight.$error.min" >Error: Height field cannot be negative, zero or below minimum.</div>
            <div class="alert alert-danger" role="alert" ng-show="bmiMtrHeightForm.bmiMtrHeight.$error.max" >Error: Height field exceeds maximum height.</div>
        </div>
      </div>
    </div>
  </div>

</div>

